.Header {
  padding: 1rem 0;
  border-bottom: 0.013333rem solid #000;
}
.footer[data-v-14af74a9] {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border-top: 0.013333rem solid #000;
}
.footer a[data-v-14af74a9] {
  text-decoration: none;
}
.footer a[data-v-14af74a9],
.footer a[data-v-14af74a9]:link {
  color: #19a1f8;
}
.BaseLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.BaseLayout .content {
  flex: 1;
}
.Card {
  width: 80%;
  border-bottom: 0.013333rem solid #000;
  padding: 1rem 0;
  cursor: default;
}
.Card .dsc {
  padding: 1rem 0;
  overflow: hidden;
}
.Card .go {
  font-size: 0.666667rem;
  cursor: pointer;
  padding-left: 1rem;
}
.Card .go,
.Card .go:link {
  color: #551a8b;
}
.Card:last-child {
  border: none;
}
.Home {
  flex: 1;
  margin: 0 0.4rem;
}
.Home .cardList {
  display: flex;
  flex-direction: column;
  padding: 0.466667rem 0;
}
.Home .total {
  padding: 0.466667rem 0;
  border-bottom: 0.013333rem solid #000;
}
.Dsc {
  flex: 1;
  margin: 0.266667rem 0.4rem;
}
.Dsc .title {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 0.013333rem solid #000;
}
.Dsc .yuque {
  margin: 1rem 0;
  display: block;
}
.Dsc .dscContent {
  padding: 1rem 0;
}
.Dsc .dscContent .cm-s-default {
  overflow: hidden;
  overflow-x: scroll;
}
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
ol,
p,
pre,
tbody,
td,
textarea,
tfoot,
th,
thead,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  font-size: 0.186667rem;
}

body,
button,
input,
select,
textarea {
  font-family: helvetica neue,tahoma,hiragino sans gb,stheiti,wenquanyi micro hei,\5fae\8f6f\96c5\9ed1,\5b8b\4f53,sans-serif;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  border: 0.013333rem solid #ddd;
  padding: 0.066667rem;
}

table th {
  font-weight: inherit;
  border-bottom-width: 0.026667rem;
  border-bottom-color: #ccc;
}

img {
  border: 0;
  width: auto\9;
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

select[multiple],
select[size],
select[size][multiple] {
  border: 0.013333rem solid #aaa;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

body {
  background: #f5f5d5;
}

input::-webkit-input-speech-button {
  display: none;
}

button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clearfix:after,
.clearfix:before {
  clear: both;
  height: 0;
  width: 0;
  content: "";
  display: table;
}

.clearfix {
  *zoom: 1;
}

#app {
  font-size: 1rem;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map*/